* {
  box-sizing: border-box;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
}
a {
  color: #00b7ff;
}
#emailForm {
  padding-top: 50px;
}
.loader {
  background: url(../images/loader.gif) no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  text-align: center;
  display: block;
  z-index: 2;
}
.finish {
  display: none;
}
.checkProduct {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* display: none; */
}
.form-control {
  border-radius: 50px;
}
.form-control:focus {
  border-color: transparent !important;
}
.form-control::placeholder {
  text-align: center;
}
