<h1>Features present right now</h1>
<li>Only <strong>Amazon</strong> links are supported right now</li>
<li>Will check the product for every 30 minutes</li>
<h1>Upcoming Features</h1>
<li>Bringing support for Flipkart and Steam</li>
<li>Overhaul to UI/UX</li>
