<form action="/" method="post">
  <input
    class="form-control"
    type="text"
    name="productLink"
    placeholder="Enter product link here"
    required
  />

  <button class="btn btn-primary">submit</button>
</form>
